@using System.Web
@model CarRentalUi.Models.ViewModels.RentalDetailsYearMonthViewModel

@{
    ViewBag.Title = "DetailsByYearAndMonth";
}

<h2>Details for @Model.Month @Model.Year for @Model.RegistrationNumber</h2>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <h3>Total:</h3>
            <p>Total amount: @Math.Round(Model.AggregatedData.TotalAmount, 2) NOK</p>
            <p>Total amount ex tax: @Math.Round(Model.AggregatedData.TotalAmountExTax, 2) NOK</p>
            <p>Total tax result: @Math.Round(Model.AggregatedData.TotalTaxResult, 2) NOK</p>
            <p>Average amount per day: @Math.Round(Model.AggregatedData.AverageAmountPerDays, 2) NOK/day</p>
            <p>Average days per rent: @Math.Round(Model.AggregatedData.AverageDaysPerRent, 2) days/rent</p>
            <p>Average milage per day: @Math.Round(Model.AggregatedData.AverageMilagePerDay, 2) km/day</p>
            <p>Average milage per rent: @Math.Round(Model.AggregatedData.AverageMilagePerRent, 2) km/rent</p>
            <p>Average price per kilometer: @Math.Round(Model.AggregatedData.AveragePricePerKilometer, 2) NOK/km</p>
            <p>Number of bookings: @Model.AggregatedData.NumberOfBookings </p>
            <p>Number of days rented: @Math.Round(Model.AggregatedData.NumberOfDaysRented, 2) </p>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Pickup
        </th>
        <th>
            Delivery
        </th>
        <th>
            Actual km
        </th>
        <th>
            AmountNet
        </th>
        <th>
            Tolls
        </th>
        <th>
            Extra milage
        </th>
        <th>
            Gasoline
        </th>
        <th>
            Pay out
        </th>
        <th>
            NOK/km
        </th>
    </tr>

    @foreach (var item in Model.Rentals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountNet) NOK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tolls) NOK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExcessMileage) NOK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gasoline) NOK
            </td>
            <td>
                @(item.AmountNet + item.ExcessMileage + item.Gasoline + item.Tolls + item.Extra) NOK
            </td>
            <td>
                @Math.Round(((item.AmountNet + item.ExcessMileage) / item.Mileage), 2)
            </td>
        </tr>
    }

</table>
