@model CarRentalUi.Models.ViewModels.RentalIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Overview of cars</h2>
<table class="table">
    <tr>
        <th>
            RegistrationNumber
        </th>
        <th>
            Number of rents
        </th>
        <th>
            Rentaldays
        </th>
        <th>
            Total amount
        </th>
        <th>
            Total milage
        </th>
        <th>
            NOK/km
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.RegistrationNumbers)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
        <td>
            @Model.Rentals.Where(a => a.RegistrationNumber == item).Count()
        </td>
        <td>
            @Model.Rentals.Where(a => a.RegistrationNumber == item).Select(b =>
       {
           var days = (b.Delivery - b.Pickup).TotalDays;
           var daysRounded = Math.Floor(days);
           var diff = days - daysRounded;
           var extraDays = diff >= 0.125 ? 1 : 0;
           return extraDays + daysRounded;
       }).Sum(c => c)
        </td>
        <td>
            @Model.Rentals.Where(a => a.RegistrationNumber == item).Sum(b => b.AmountNet + b.ExcessMileage)
        </td>
        <td>
            @Model.Rentals.Where(a => a.RegistrationNumber == item).Sum(b => b.Mileage)
        </td>
        <td>
            @Math.Round(@Model.Rentals.Where(a => a.RegistrationNumber == item).Sum(b => b.AmountNet + b.ExcessMileage) / Model.Rentals.Where(a => a.RegistrationNumber == item).Sum(b => b.Mileage), 2)
        </td>
        <td>
            @Html.ActionLink("More Details", "Details", new { id = item })
        </td>
    </tr>
    }

</table>
